VITE_CLUBVAULT_ADDRESS=0xYourDeployedContractAddress
VITE_RPC_URL=https://testnet-passet-hub-eth-rpc.polkadot.io
VITE_CLUBVAULT_VAULT_ID=1
VITE_NATIVE_SYMBOL=DOT
VITE_EXPLORER_TX_BASE_URL=https://blockscout-passet-hub.parity-testnet.parity.io/tx/
VITE_POLKADOT_HUB_CHAIN_ID=420420417
VITE_POLKADOT_HUB_NETWORK_LABEL=Polkadot Hub TestNet
